site_name: Telegram Analysis API
site_description: Documentación estática del servicio Flask + Telethon
site_url: ""
repo_name: PejarRu/telegram-analysis-fork
repo_url: https://github.com/PejarRu/telegram-analysis-fork
nav:
  - Inicio: index.md
theme:
  name: material
  palette:
    - scheme: default
      primary: blue
      accent: cyan
  features:
    - navigation.tabs
    - navigation.top
    - content.code.copy
markdown_extensions:
  - admonition
  - codehilite
  - toc:
      permalink: true
  - tables
  - pymdownx.tasklist:
      custom_checkbox: true
  - pymdownx.superfences
  - pymdownx.details
  - pymdownx.highlight
  - pymdownx.magiclink
extra:
  social:
    - icon: fontawesome/brands/github
      link: https://github.com/PejarRu/telegram-analysis-fork
      name: GitHub
docs_dir: docs
