name: Deploy to Production
on:
  push:
    branches: [master]

jobs:
  deploy:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v4
      - name: Deploy to server
        uses: appleboy/ssh-action@v1.0.0
        with:
          host: ${{ secrets.SERVER_HOST }}
          username: root
          key: ${{ secrets.SSH_KEY }}
          script: |
            cd /etc/dokploy/applications/utils-utilspythontelegramanalysis-y4g0yx/code
            git pull
            docker build -t utils-utilspythontelegramanalysis-y4g0yx:latest .
            docker service update --image utils-utilspythontelegramanalysis-y4g0yx:latest --force utils-utilspythontelegramanalysis-y4g0yx
